// src/styles/about.css
.about_intro {
  padding-top: 24rem;
  padding-bottom: 12rem;
}

.about_intro.cnt {
  display: flex;
  justify-content: center;
}

.about_intro.tt1 {
  text-align: center;
  max-width: 80ch;
}

.about_content.cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
}