// src/styles/animations.css
.Awrite,
.Atext {
  position: relative;
  text-transform: uppercase;
}
.Awrite.char,
.Atext.char {
  position: relative;
  pointer-events: none;
}
.Awrite.char.n,
.Atext.char.n {
  opacity: 0;
  color: var(--dark);
}
.Awrite.char.f,
.Atext.char.f {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  color: var(--light);
  z-index: 1;
  background: var(--dark);
  display: none;
  transform-origin: left center;
}
.Awrite.nono,
.Atext.nono {
  color: var(--dark);
}
.Awrite-inv,
.Atext-inv {
  color: var(--light);
  padding: 2px 4px 1px;
  background: var(--dark);
}
.Awrite-inv.char.n,
.Atext-inv.char.n,
.Awrite-inv.nono,
.Atext-inv.nono {
  color: var(--light);
}
.Atext {
  text-transform: uppercase;
  position: relative;
  line-height: 1.27;
  pointer-events: none;
}
.Atext a {
  pointer-events: all;
}
.Atext p + p {
  margin-top: 1.8rem;
}
.Atext.char.f {
  background: transparent;
}
.Aline {
  text-transform: uppercase;
  position: relative;
  line-height: 1.27;
  pointer-events: none;
  opacity: 0;
}
.Aline a {
  pointer-events: all;
}
.Aline p + p {
  margin-top: 1.8rem;
}
.Atitle {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
}
.Atitle.cCover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.Atitle.Oi {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  opacity: 1!important;
}
.Atitle.ttj,.Atitle.tt1 {
  opacity: 0;
}
.Atitle canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.mouse {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 49;
  pointer-events: none;
}