/* src/styles/footer.css */
.footer-container { /* Replaces .footer */
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 24rem;
  padding: 1.6rem 0 5.6rem;
}
.footer-content { /* Replaces .footer_cm */
  width: 100%;
}
.footer-title-link { /* Replaces .footer_cm .Atitle */
  margin-left: var(--pgrid);
}
.footer-links-container { /* Replaces .footer .cnt_lk */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.4rem 1rem;
  margin-left: 9.4rem; /* Mobile first */
  width: 18.4rem;
}

@media (min-width: 744px) {
  .footer-links-container {
    margin-left: 30rem;
    width: 28.6rem;
  }
}
@media (min-width: 1024px) {
  .footer-links-container {
    margin-left: 70.9rem;
    width: 54.9rem;
  }
}