// src/styles/home.css
.home {
  position: relative;
}

.home_hero {
  height: 100vh;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding-bottom: 20rem;
}
@media (min-aspect-ratio: 18/9) {
  .home_hero {
    padding-bottom: 10vh;
  }
}
.home_hero .cnt {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.home_hero .cnt_hold {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
:root.D .home_hero .cnt_hold {
  margin-left: 59.5rem;
  padding-top: 8rem;
}
@media (orientation: landscape) {
  :root.T .home_hero .cnt_hold {
    margin-left: 59.5rem;
    padding-top: 8rem;
  }
}
@media (orientation: portrait) and (min-width: 744px) {
  :root.T .home_hero .cnt_hold {
    margin-left: 8.5rem;
    padding-top: 4rem;
  }
}
@media (orientation: portrait) and (max-width: 745px) {
  :root.T .home_hero .cnt_hold {
    margin-left: 4.5rem;
    padding-top: 4rem;
  }
}
:root.D .home_hero .cnt_hold .Atitle .cCover {
  left: -2rem;
  right: -2rem;
  top: -2rem;
  bottom: -2rem;
  pointer-events: none;
}
@media (orientation: landscape) {
  :root.T .home_hero .cnt_hold .Atitle .cCover {
    left: -2rem;
    right: -2rem;
    top: -2rem;
    bottom: -2rem;
    pointer-events: none;
  }
}
@media (orientation: portrait) and (min-width: 744px) {
  :root.T .home_hero .cnt_hold .Atitle:first-child .cCover {
    left: -1.1rem;
    right: -1.1rem;
    top: -1.1rem;
    bottom: -1.1rem;
    pointer-events: none;
    transform: translate(-1rem);
  }
}
@media (orientation: portrait) and (max-width: 745px) {
  :root.T .home_hero .cnt_hold .Atitle:first-child .cCover {
    left: -0.55rem;
    right: -0.55rem;
    top: -0.55rem;
    bottom: -0.55rem;
    pointer-events: none;
    transform: translate(-0.1rem);
  }
}
@media (orientation: portrait) {
  :root.T .home_hero .cnt_hold .Atitle:last-child {
    margin-top: -0.6rem;
  }
}
@media (orientation: portrait) and (min-width: 744px) {
  :root.T .home_hero .cnt_hold .Atitle:last-child .cCover {
    left: -1.1rem;
    right: -1.1rem;
    top: -1.1rem;
    bottom: -1.1rem;
    pointer-events: none;
    transform: translate(0);
  }
}
@media (orientation: portrait) and (max-width: 745px) {
  :root.T .home_hero .cnt_hold .Atitle:last-child .cCover {
    left: -0.55rem;
    right: -0.55rem;
    top: -0.55rem;
    bottom: -0.55rem;
    pointer-events: none;
    transform: translate(0);
  }
}
.home_hero .cnt_tt {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home_hero .cnt_tt .Oiel:not(.act) {
  pointer-events: none;
}
.home_hero .cnt_tt .ttj {
  opacity: 0;
}
:root.T .home_hero .cnt_tt .ttj {
  touch-action: none;
}
:root.AND .home_hero .cnt_tt .ttj {
  opacity: 1;
}
.home_hero .cnt_bt {
  margin-top: 3.2rem;
}
.home_hero .cnt_bt h3 {
  transition:
    0.8s opacity 1.1s cubic-bezier(0.55, 0, 0.1, 1),
    0.6s transform 1s cubic-bezier(0.55, 0, 0.1, 1);
  transform-origin: left center;
  line-height: 1.19;
}
@media (orientation: portrait) and (max-width: 745px) {
  :root.T .home_hero .cnt_bt h3 {
    font-size: 1.4rem;
  }
}
.home_hero .cnt_bt:not(.stview) h3 {
  opacity: 0;
  transform: scaleX(1.2);
  transition: 0.8s all cubic-bezier(0.55, 0, 0.1, 1);
}
.home_hero .cnt_bt .Awrite {
  margin-top: 2.4rem;
}
.home_hero .cnt_bt .Awrite .n {
  color: #00000080;
}
.home_hero .cnt_sc {
  position: absolute;
  bottom: 2.4rem;
}
:root.D .home_hero .cnt_sc {
  left: 59.2rem;
  padding-left: var(--pgrid);
}
@media (orientation: landscape) {
  :root.T .home_hero .cnt_sc {
    left: 59.2rem;
    padding-left: var(--pgrid);
  }
}
@media (orientation: portrait) and (min-width: 744px) {
  :root.T .home_hero .cnt_sc {
    left: 8.5rem;
    padding-left: var(--pgrid);
  }
}
@media (orientation: portrait) and (max-width: 745px) {
  :root.T .home_hero .cnt_sc {
    left: 4.5rem;
    padding-left: var(--pgrid);
  }
}
.home_hero .cnt_lk {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
:root.D .home_hero .cnt_lk {
  right: var(--pgrid);
  bottom: 2.4rem;
}
@media (orientation: landscape) {
  :root.T .home_hero .cnt_lk {
    right: var(--pgrid);
    bottom: 2.4rem;
  }
}
@media (orientation: portrait) and (min-width: 744px) {
  :root.T .home_hero .cnt_lk {
    flex-direction: column;
    left: 8.5rem;
    bottom: 10.7rem;
    padding-left: var(--pgrid);
  }
}
@media (orientation: portrait) and (max-width: 745px) {
  :root.T .home_hero .cnt_lk {
    flex-direction: column;
    left: 4.5rem;
    bottom: 10.7rem;
    padding-left: var(--pgrid);
  }
}
.home_hero .cnt_lk a {
  --dark: #8a8a8a;
}
.home_hero .cnt_lk a .iO {
  width: 1px;
}
.home_hero .cnt_lk a .char .b {
  background: black;
}
.home_hero .cnt_lk a .char .n {
  transition: 0.3s color cubic-bezier(0.55, 0, 0.1, 1);
}
.home_hero .cnt_lk a .char .f {
  color: #fff;
  background: #000;
}
.home_hero .cnt_lk a i {
  width: 0.8rem;
  margin-left: 0.4rem;
  display: inline-flex;
  opacity: 0;
  transition: 0.3s opacity cubic-bezier(0.55, 0, 0.1, 1);
}
.home_hero .cnt_lk a i svg {
  width: 100%;
}
.home_hero .cnt_lk a i svg path {
  fill: #000;
}
.home_hero .cnt_lk a.ivi i {
  opacity: 1;
}
.home_hero .cnt_lk a:hover .char .n {
  transition: 0.45s color cubic-bezier(0.55, 0, 0.1, 1);
  color: #000;
}
:root.D .home_hero .cnt_lk a + a {
  margin-left: 2.4rem;
}
@media (orientation: landscape) {
  :root.T .home_hero .cnt_lk a + a {
    margin-left: 2.4rem;
  }
}
@media (orientation: portrait) {
  :root.T .home_hero .cnt_lk a + a {
    margin-top: 0.8rem;
  }
}

/* --- home_prjs --- */
.home_prjs {
  margin-top: 20rem;
}
.home_prjs .cnt_t {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.home_prjs .cnt_t .Atitle {
  pointer-events: none !important;
}
:root.AND .home_prjs .cnt_t .Atitle .tt1 {
  opacity: 1;
}
.home_prjs .cnt_t .Atitle .Oi {
  top: 16rem;
  height: 10px;
}
:root.D .home_prjs .cnt_t .Atitle .cCover {
  left: -2rem;
  right: -2rem;
  top: -2rem;
  bottom: -2rem;
}
@media (orientation: landscape) {
  :root.T .home_prjs .cnt_t .Atitle .cCover {
    left: -2rem;
    right: -2rem;
    top: -2rem;
    bottom: -2rem;
  }
}
@media (orientation: portrait) and (min-width: 744px) {
  :root.T .home_prjs .cnt_t .Atitle .cCover {
    left: -0.3rem;
    right: -0.3rem;
    top: -0.9rem;
    bottom: -0.9rem;
  }
}
@media (orientation: portrait) and (max-width: 745px) {
  :root.T .home_prjs .cnt_t .Atitle .cCover {
    left: 0;
    right: 0;
    top: -0.9rem;
    bottom: -0.9rem;
  }
}
.home_prjs .cnt_t .Awrite {
  --dark: rgba(0, 0, 0, 0.5);
}
:root.D .home_prjs .cnt_t .Awrite {
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}
@media (orientation: landscape) {
  :root.T .home_prjs .cnt_t .Awrite {
    margin-bottom: 1.2rem;
    margin-left: 1rem;
  }
}
@media (orientation: portrait) {
  :root.T .home_prjs .cnt_t .Awrite {
    margin-bottom: 0.6rem;
    margin-left: 0.8rem;
  }
}
.home_prjs .cnt_t .Awrite .iO {
  height: 10px;
  width: 10px;
}
:root.D .home_prjs .cnt_t .Awrite .iO {
  top: 9.1rem;
}
@media (orientation: landscape) {
  :root.T .home_prjs .cnt_t .Awrite .iO {
    top: 9.1rem;
  }
}
@media (orientation: portrait) {
  :root.T .home_prjs .cnt_t .Awrite .iO {
    top: 4rem;
  }
}
@media (orientation: portrait) and (max-width: 745px) {
  :root.T .home_prjs .cnt_prj {
    width: 100%;
  }
  :root.T .home_prjs .cnt_prj + .cnt_prj {
    margin-top: 8rem;
  }
}
.home_prjs .cnt_prj_im {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.home_prjs .cnt_prj_im_el {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.home_prjs .cnt_prj_im .Oi {
  pointer-events: all;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.home_prjs .cnt_prj_im video,
.home_prjs .cnt_prj_im img {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}
:root.AND .home_prjs .cnt_prj_im video,
:root.AND .home_prjs .cnt_prj_im img {
  opacity: 1;
  visibility: visible;
}
.home_prjs .cnt_prj_t {
  margin-top: 0.8rem;
}
.home_prjs .cnt_prj_t .num .char .n {
  --dark: rgba(0, 0, 0, 0.5);
}
:root.D .home_prjs .cnt_prj-0 {
  width: 58.3rem;
}
@media (orientation: landscape) {
  :root.T .home_prjs .cnt_prj-0 {
    width: 58.3rem;
  }
}
@media (orientation: portrait) and (min-width: 744px) {
  :root.T .home_prjs .cnt_prj-0 {
    width: 28.9rem;
  }
}
:root.D .home_prjs .cnt_prj-1 {
  width: 58.2rem;
}
@media (orientation: landscape) {
  :root.T .home_prjs .cnt_prj-1 {
    width: 58.2rem;
  }
}
@media (orientation: portrait) and (min-width: 744px) {
  :root.T .home_prjs .cnt_prj-1 {
    width: 28.8rem;
  }
}
:root.D .home_prjs .cnt_prj-2 {
  width: 45.6rem;
  margin-left: 12.8rem;
}
@media (orientation: landscape) {
  :root.T .home_prjs .cnt_prj-2 {
    width: 45.6rem;
    margin-left: 12.8rem;
  }
}
@media (orientation: portrait) and (min-width: 744px) {
  :root.T .home_prjs .cnt_prj-2 {
    width: 21.6rem;
    margin-left: 8.5rem;
  }
}
.home_prjs .cnt_prj-2 img {
  aspect-ratio: 582/779;
}
.home_prjs .cnt_ft {
  display: flex;
  align-items: flex-start;
}
:root.D .home_prjs .cnt_ft {
  justify-content: space-between;
  margin-top: 8rem;
}
@media (orientation: landscape) {
  :root.T .home_prjs .cnt_ft {
    justify-content: space-between;
    margin-top: 8rem;
  }
}
@media (orientation: portrait) and (min-width: 744px) {
  :root.T .home_prjs .cnt_ft {
    justify-content: space-between;
    margin-top: 8rem;
  }
}
@media (orientation: portrait) and (max-width: 745px) {
  :root.T .home_prjs .cnt_ft {
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 4rem;
  }
}
.home_prjs .cnt_st {
  display: flex;
  justify-content: flex-start;
}
:root.D .home_prjs .cnt_st {
  align-items: flex-end;
  margin-top: 24.4rem;
}
@media (orientation: landscape) {
  :root.T .home_prjs .cnt_st {
    align-items: flex-end;
    margin-top: 24.4rem;
  }
}
@media (orientation: portrait) and (min-width: 744px) {
  :root.T .home_prjs .cnt_st {
    align-items: flex-end;
    margin-top: 24.4rem;
  }
}
@media (orientation: portrait) and (max-width: 745px) {
  :root.T .home_prjs .cnt_st {
    flex-direction: column;
    justify-content: center;
    margin-top: 8rem;
  }
}
:root.D .home_prjs .cnt_btn {
  margin-left: 12.6rem;
  transform: translateY(-190%);
}
@media (orientation: landscape) {
  :root.T .home_prjs .cnt_btn {
    margin-left: 12.6rem;
    transform: translateY(-190%);
  }
}
@media (orientation: portrait) and (min-width: 744px) {
  :root.T .home_prjs .cnt_btn {
    margin-left: 14.5rem;
    transform: translateY(-190%);
  }
}
@media (orientation: portrait) and (max-width: 745px) {
  :root.T .home_prjs .cnt_btn {
    margin-top: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

/* --- home_about --- */
.home_about {
  position: relative;
}
:root.D .home_about {
  padding-top: 40vh;
}
@media (orientation: landscape) {
  :root.T .home_about {
    padding-top: 40vh;
  }
}
@media (orientation: portrait) {
  :root.T .home_about {
    padding-top: 20vh;
  }
  :root.T .home_about + .footer {
    margin-top: 10rem;
  }
}
:root.AND .home_about {
  color: #fff;
}
:root.AND .home_about:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 25vh;
  width: 100vw;
  height: 40vh;
  background: radial-gradient(83% 50%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 76%, rgba(0, 0, 0, 0) 100%);
}
:root.AND .home_about .cnt {
  background: black;
  padding-top: 10vh;
}
:root.AND .home_about + .footer {
  background: black;
  margin-top: 0;
}
:root.AND .home_about + .footer .ttj {
  opacity: 1;
  color: #fff;
}
.home_about .Oi-bg {
  position: absolute;
  left: 0;
  width: 1px;
  background: yellow;
}
:root.D .home_about .Oi-bg {
  height: 50vh;
  top: 15vh;
}
@media (orientation: landscape) {
  :root.T .home_about .Oi-bg {
    height: 50vh;
    top: 15vh;
  }
}
@media (orientation: portrait) {
  :root.T .home_about .Oi-bg {
    height: 30vh;
    top: -5vh;
  }
}
.home_about .cnt {
  overflow: hidden;
}
.home_about .cnt_tp {
  position: relative;
}
@media (orientation: portrait) {
  :root.T .home_about .cnt_tp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.home_about .cnt_tp .Atitle .cCover {
  position: absolute;
  pointer-events: none;
}
:root.D .home_about .cnt_tp .Atitle .cCover {
  left: -2rem;
  right: -2rem;
  top: -2rem;
  bottom: -2rem;
}
@media (orientation: landscape) {
  :root.T .home_about .cnt_tp .Atitle .cCover {
    left: -2rem;
    right: -2rem;
    top: -2rem;
    bottom: -2rem;
  }
}
@media (orientation: portrait) and (min-width: 744px) {
  :root.T .home_about .cnt_tp .Atitle .cCover {
    left: -1rem;
    right: -1rem;
    top: -1rem;
    bottom: -1rem;
  }
}
@media (orientation: portrait) and (max-width: 745px) {
  :root.T .home_about .cnt_tp .Atitle .cCover {
    left: 0;
    right: 0;
    top: -1rem;
    bottom: -1rem;
    transform: translate(0.02rem, -0.1rem);
  }
}
:root.AND .home_about .cnt_tp .tt1 {
  opacity: 1;
  color: #fff;
}
.home_about .cnt_tp .Oi {
  pointer-events: none !important;
  top: 100%;
  bottom: auto;
  height: 100%;
}
.home_about .cnt_bp {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
:root.D .home_about .cnt_bp {
  margin-top: 8rem;
}
@media (orientation: landscape) {
  :root.T .home_about .cnt_bp {
    margin-top: 8rem;
  }
}
@media (orientation: portrait) {
  :root.T .home_about .cnt_bp {
    margin-top: 4rem;
  }
}
.home_about .cnt_x {
  --dark: #f8f6f2;
  --light: #000;
}
:root.D .home_about .cnt_x {
  margin-left: 59.4rem;
  width: 34.6rem;
}
@media (orientation: landscape) {
  :root.T .home_about .cnt_x {
    margin-left: 59.4rem;
    width: 34.6rem;
  }
}
@media (orientation: portrait) and (min-width: 744px) {
  :root.T .home_about .cnt_x {
    margin-left: 30rem;
    width: 34.6rem;
    margin-top: 4rem;
  }
}
@media (orientation: portrait) and (max-width: 745px) {
  :root.T .home_about .cnt_x {
    margin-left: auto;
    width: 28rem;
    margin-top: 4rem;
  }
}
.home_about .cnt_x .Aline {
  color: var(--dark);
}
:root.D .home_about .cnt_x .linkXS {
  display: none;
}
@media (orientation: landscape) {
  :root.T .home_about .cnt_x .linkXS {
    display: none;
  }
}
@media (orientation: portrait) {
  :root.T .home_about .cnt_x .linkXS {
    display: inline-block;
    margin-top: 4rem;
    color: #fff;
    opacity: 0;
    text-transform: uppercase;
    line-height: 1.27;
    transition: 0.45s opacity 1.5s cubic-bezier(0.55, 0, 0.1, 1);
  }
}
.home_about .cnt_x .Aline.stview + .linkXS {
  opacity: 1;
}
.home_about .cnt_l {
  width: 27.7rem;
  margin-left: auto;
  margin-top: 4rem;
}
.home_about .cnt_im {
  position: relative;
  display: flex;
}
:root.D .home_about .cnt_im {
  margin-left: 59.2rem;
  margin-top: 8rem;
  width: 70rem;
}
@media (orientation: landscape) {
  :root.T .home_about .cnt_im {
    margin-left: 59.2rem;
    margin-top: 8rem;
    width: 70rem;
  }
}
@media (orientation: portrait) and (min-width: 744px) {
  :root.T .home_about .cnt_im {
    margin-left: auto;
    width: 43.8rem;
    margin-top: 4rem;
  }
}
@media (orientation: portrait) and (max-width: 745px) {
  :root.T .home_about .cnt_im {
    margin-left: auto;
    width: 28rem;
    margin-top: 4rem;
  }
}
.home_about .cnt_im .Oi {
  pointer-events: all;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.home_about .cnt_im video,
.home_about .cnt_im img {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}
:root.AND .home_about .cnt_im video,
:root.AND .home_about .cnt_im img {
  opacity: 1;
  visibility: visible;
}