// src/styles/loader.css
.loader {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: left top;
  overflow: hidden;
  pointer-events: none;
}
.loader_bg {
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.loader_cnt {
  height: 100vh;
  color: #f8f6f2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
:root.D.loader_cnt {
  align-items: flex-start;
  height: 100vh;
  padding-top: 0.8rem;
  padding-bottom: 4rem;
}
@media (orientation: landscape) {
  :root.T.loader_cnt {
    align-items: flex-start;
    height: 100vh;
    padding-top: 0.8rem;
    padding-bottom: 4rem;
  }
}
@media (orientation: portrait) {
  :root.T.loader_cnt {
    align-items: flex-start;
    height: 100vh;
    max-height: var(--ck_hmin);
    padding-top: 0.8rem;
    padding-bottom: 4rem;
  }
}
.loader_tp {
  font-family: var(--font-montreal);
  font-variant-numeric: tabular-nums lining-nums;
  font-kerning: none;
}
:root.D.loader_tp {
  font-size: 28rem;
  margin-left: 59.2rem;
}
@media (orientation: landscape) {
  :root.T.loader_tp {
    font-size: 28rem;
    margin-left: 59.2rem;
  }
}
@media (orientation: portrait) and (min-width: 744px) {
  :root.T.loader_tp {
    font-size: 28rem;
    letter-spacing: -0.02em;
    margin-left: 8.5rem;
  }
}
@media (orientation: portrait) and (max-width: 745px) {
  :root.T.loader_tp {
    font-size: 16.7rem;
    letter-spacing: -0.02em;
    margin-left: 3.7rem;
  }
}
.loader_bp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
:root.D.loader_bp {
  margin-left: 59.2rem;
}
@media (orientation: landscape) {
  :root.T.loader_bp {
    margin-left: 59.2rem;
  }
}
@media (orientation: portrait) and (min-width: 744px) {
  :root.T.loader_bp {
    width: 29rem;
    margin-left: 8.5rem;
  }
}
@media (orientation: portrait) and (max-width: 745px) {
  :root.T.loader_bp {
    width: 29rem;
    margin-left: 4.5rem;
  }
}
.loader_bp.Awrite {
  --light: #000;
  --dark: #f8f6f2;
}
.loader_bp.Awrite +.Awrite {
  margin-top: 0.2rem;
}