/* src/app/globals.css */
@import "tailwindcss";

@import "../styles/base.css";
@import "../styles/layout.css";
@import "../styles/typography.css";
@import "../styles/animation.css";
@import "../styles/loader.css";
@import "../styles/navigation.css";
@import "../styles/home.css";
@import "../styles/footer.css";


@layer base {
  @font-face {
    font-family: 'montreal';
    font-display: swap;
    src: url('/fonts/PPNeueMontreal-Medium.woff2') format('woff2');
    font-weight: 500;
  }
  @font-face {
    font-family: 'montrealbook';
    font-display: swap;
    src: url('/fonts/PPNeueMontrealMono-Book.woff2') format('woff2');
    font-weight: 400;
  }

  :root {
    --background: 236 14% 97%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 0 0% 100%;
    --accent-foreground: 240 5.9% 10%;
  }
    
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: theme('fontFamily.book');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}